<!DOCTYPE html>
<html lang="en">
<head>
        <script
        src="http://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>중앙과제</title>
    <style>
        h1{
                background-color: rgba( 255, 255, 255, 0.5 );
            }
            body {
  background-color: lightblue;
}
p {
  background-color: LightGray; 
  color : rgb(14, 31, 48);
}

		</style>
</head>
<body>
        <h1 >당신이 입력한 텍스트는 {{ total }} 단어로 구성되어 있습니다.</h1>

      <a href="{% url 'home'%}"><h2><button type="button" class="btn btn-default">다시하기</button></h2></a>
        
        <h1 >입력한 텍스트: </h1>
        <p>{{ fulltext }}</p>
        
        <h1 >단어 카운트 :</h1>
        {% for word, countTotal in dictionary %}
        <p>{{ word }} - {{ countTotal }}</p>
        <br>
        {% endfor %}
</body>
</html>