<!DOCTYPE html>
<html lang="en">
<head>
        <script
        src="http://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>중앙과제</title>
    <style>
        h1{
                background-color: rgba( 255, 255, 255, 0.5 );
            }
            body {
  background-color: lightblue;
}
		</style>
</head>
<body>
        <h1 class="text-center">WORD COUNT</h1>

<a href="{% url 'about'%}"><p class="text-center"><button type="button" class="btn btn-default">ABOUT</button></p></a>

<form class="text-center", action="{% url 'count' %}">
    <textarea clos="40" rows="10" name="fulltext"></textarea>
    <br>
    <button type="submit" class="btn btn-danger">카운트</button>
</form>
</body>
</html>